on:
  release:
    types: [created]

name: release

jobs:
  build:
    name: create release
    runs-on: ubuntu-latest
    steps:
      - name: build code
        uses: actions/checkout@v2
      - name: build project
        run: |
          npm ci
          npm test
          npm run lint
          npm run build
          zip -r artifact lib src package.json index.html LICENSE README.md
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: artifact.zip
          asset_name: artifact.zip
          tag: ${{ github.ref }}
          overwrite: true

  publish-npm:
    name: publish npm
    if: "!github.event.release.prerelease"
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
          scope: "@tfso"
      - name: publish
        run: |
          npm ci
          npm run build
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

  publish-gpr:
    name: publish npm to github
    if: "!github.event.release.prerelease" # https://developer.github.com/v3/activity/events/types/#releaseevent
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
          scope: "@tfso"  
      - name: publish
        run: |
          npm ci
          npm run build
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
